* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.section-contact {
  padding: 3rem;
  background-color: #cdc1ff;
  width: 100%;
  height: 70vh;
  position: relative;
}
.contact-div {
  width: 100%;
  height: auto;
  padding: 4rem 3rem;
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(2, minmax(290px, 1fr));
  grid-auto-rows: 50px;
  gap: 10px;
}

.contact-items {
  background-color: #e5d9f2;
  border-radius: 5px;
  padding-left: 0.2rem;
}
.contact-item5 {
  grid-column: span 2;
}
.contact-item1 {
  display: flex;
  align-items: center;
}
.info-flex {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 2px;
  width: 100%;
  height: auto;
}
.info-flex label {
  display: inline-block;
  width: 8rem;
}
.contact-inputs {
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
textarea {
  background-color: transparent;
  border: none;
}
.wrapper-send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.send-message-btn {
  padding: 1rem;
  width: 14rem;
  height: 3.5rem;
  color: #5228f9;
  background: linear-gradient(40deg, #8a70f3, white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.2s linear;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.send-message-btn:hover {
  background: linear-gradient(40deg, #5228f9, white);
  transform: scale(1.1);
  color: black;
}

.nav-container {
  width: 100%;
  padding: 0.5rem;
  background-color: #e5d9f2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  z-index: -2;
}
.inner-nav {
  padding: 1rem;
  width: 70%;
  border-radius: 30px;
  background-color: #cdc1ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inner-nav .logo-div strong {
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 2px;
}
.inner-nav .links-div ul {
  display: flex;
  gap: 4rem;
}
.links-div ul li a {
  color: black;
  font-weight: 400;
  position: relative;
}
.links-div ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid black;
  border-radius: 10px;
  width: 0%;
  margin-top: 18px;
  transition: all 0.2s linear;
}
.links-div ul li a:hover::before {
  width: 100%;
  border-bottom-color: rgb(134, 88, 241);
}
.custom-shape-divider-bottom-1730228727 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730228727 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
}

.custom-shape-divider-bottom-1730228727 .shape-fill {
  fill: #ffffff;
  transition: all 0.2s linear;
  animation: any 30s linear infinite;
}

@keyframes any {
  0% {
    fill: #ffffff;
  }
  70% {
    fill: #5228f9;
  }
  100% {
    fill: #76d0ed;
  }
}

@media (max-width: 800px) {
  .section-contact {
    padding: 0.2rem;
    height: 100vh;
    width: 100%;
  }
  .contact-div {
    height: auto;
    width: 100%;
    padding: 0.2rem 0.2rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
  .contact-item5 {
    grid-column: span 1;
    height: auto;
  }
}
/* New Addition */
@media (max-width: 799px) {
  .contact-item5 {
    grid-column: span 2;
    height: auto;
  }
}

/* New Addition */
@media (max-width: 620px) {
  .contact-item5 {
    grid-column: span 1;
    height: auto;
  }
  button {
    margin-top: 3rem;
  }
}

@media (max-width: 692px) {
  .footer3 {
    grid-column: span 1;
  }
}

@media (max-width: 680px) {
  .inner-nav {
    padding: 0.5rem;
    width: 90%;
    flex-direction: column;
    justify-content: start;
  }
}

@media (max-width: 800px) {
  .section-contact {
    padding: 0.2rem;
    height: 70vh;
    width: 100%;
  }
  .contact-div {
    height: auto;
    width: 100%;
    padding: 0.2rem 0.2rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
  .contact-item5 {
    grid-column: span 1;
    height: auto;
  }
}
